stages:
  - sanitizer
  - build
  - benchmark

before_script:
  - export MAKEFLAGS="-j4"

variables:
  GIT_DEPTH: "1"

#############################################################
###################### PRE-CHECK JOBS #######################
#############################################################

file_contents_and_paths:
  image: yujif1aero/openlb-ci-env
  stage: sanitizer
  script:
    - ./.ci/pre-check_file_path.sh
    - ./.ci/pre-check_file_content.sh
  tags:
    - nix

#############################################################
######################## BUILD JOBS #########################
#############################################################

build_gcc:
  image: yujif1aero/openlb-ci-env
  stage: build
  script:
    - nix --extra-experimental-features nix-command --extra-experimental-features flakes develop .#env-gcc --command .ci/build_using_environment.sh
  tags:
    - nix

build_gcc_mpi:
  image: yujif1aero/openlb-ci-env
  stage: build
  script:
    - nix --extra-experimental-features nix-command --extra-experimental-features flakes develop .#env-gcc-openmpi --command .ci/build_using_environment.sh
  tags:
    - nix

build_gcc_omp:
  image: yujif1aero/openlb-ci-env
  stage: build
  script:
    - nix --extra-experimental-features nix-command --extra-experimental-features flakes develop .#env-gcc-openmp --command .ci/build_using_environment.sh
  tags:
    - nix

build_gcc_hybrid:
  image: yujif1aero/openlb-ci-env
  stage: build
  script:
    - nix --extra-experimental-features nix-command --extra-experimental-features flakes develop .#env-heterogeneity-cpu --command .ci/build_using_environment.sh
  tags:
    - nix

build_clang:
  image: yujif1aero/openlb-ci-env
  stage: build
  script:
    - nix --extra-experimental-features nix-command --extra-experimental-features flakes develop .#env-clang --command .ci/build_using_environment.sh
  tags:
    - nix

build_cuda_only:
  image: yujif1aero/openlb-ci-env
  stage: build
  script:
    - .ci/build_cuda_only.sh
  tags:
    - nix

build_cuda_mixed_mpi:
  image: yujif1aero/openlb-ci-env
  stage: build
  script:
    - .ci/build_cuda_mixed_mpi.sh
  tags:
    - nix

build_intel:
  stage: build
  script:
    - srun -p $CI_HOREKA_QUEUE -A $CI_HOREKA_ACCOUNT -t 00:30:00 --ntasks=1 --cpus-per-task=$CI_HOREKA_CPUS $CI_HOREKA_SLURM_EXTRA_OPTS .ci/build_intel.sh
  tags:
    - horeka-shell

##############################################################
####################### Benchmark JOBS #######################
##############################################################

benchmark_gcc:
  image: yujif1aero/openlb-ci-env
  stage: benchmark
  script:
    - nix --extra-experimental-features nix-command --extra-experimental-features flakes develop .#env-gcc --command .ci/benchmark.sh
  tags:
    - nix
  dependencies: [ ]
  needs: ["build_gcc"]

benchmark_gcc_mpi:
  image: yujif1aero/openlb-ci-env
  stage: benchmark
  variables:
    OMPI_ALLOW_RUN_AS_ROOT: 1
    OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
  script:
    - nix --extra-experimental-features nix-command --extra-experimental-features flakes develop .#env-gcc-openmpi --command .ci/benchmark.sh
  tags:
    - nix
  dependencies: [ ]
  needs: ["build_gcc_mpi"]

benchmark_cuda:
  stage: benchmark
  script:
    - ./.ci/benchmark_cuda.sh
  tags:
    - has-gpu
  artifacts:
    paths:
      - examples/laminar/cavity3dBenchmark/raw_performance.csv
    reports:
      metrics: examples/laminar/cavity3dBenchmark/performance.txt
  dependencies: [ ]
  needs: ["build_cuda_only"]

benchmark_fsi_cuda:
  stage: benchmark
  script:
    - ./.ci/benchmark_fsi_cuda.sh
  tags:
    - has-gpu
  dependencies: [ ]
  needs: ["build_cuda_mixed_mpi"]