.idea/
.git/
tmp/
examples/**/tmp/
examples/**/tmp*/
examples/noise/pointsource2d/pointsource2d
examples/noise/movingshock2d/movingshock2d
examples/noise/du93_3d/du93_3d
examples/porousMedia/porousPoiseuille3d/porousPoiseuille3d
*.d
*.o
*.a
examples/laminar/cavity2d/cavity2d
examples/laminar/cavity3d/cavity3d
examples/laminar/cavity3dBenchmark/cavity3d
examples/laminar/cylinder3d/cylinder3d
examples/noise/movingshock3d/movingshock3d
examples/noise/movingshock3drefinement/movingshock3drefinement
examples/noise/cylinder3dnoise/cylinder3dnoise
examples/noise/cylinder3dnoise/periodic/
examples/noise/cylinder3dnoise/local/
examples/noise/cylinder3dnoise/damping/
